.myBtn {
    padding: 10px 30px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    background: linear-gradient(180deg, #E2F685 0%, #8AF9AD 100%);
    border-radius: 8px;
    cursor: pointer;
}